body {
    font-family: Arial, sans-serif;
    margin: 0 5% 0 5%;
    padding: 0;
    box-sizing: border-box;
    background-color: #F1F1F3;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.sign-in-btn {
    padding: 10px 20px;
    background-color: #F5F5F5;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;
    cursor: pointer;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    padding: 50px;
    border-radius: 25px; 
}
.banner-content {
    width: 50%;
}
.banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0E0E0E;
}
.banner-content h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: hsl(0, 0%, 90%);
}
.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #004d40;
}
.explore-btn {
    padding: 10px 30px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
}
.banner-image img {
    width: 400px;
    height: auto;
}

footer {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 30px 0;
    width: calc(100% + 11%);
    transform: translateX(-5%);
    background-color: #fff;
    text-align: center;  
}
.page-break {
    width: 85%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #000;
}
.pillars {
    text-align: center;
}
.pillars h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}
.pillars-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: left;
}
.pillar {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
}
.pillar:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.pillar img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.pillar h3 {
    font-size: 1.5rem;
    color: #0E0E0E;
    margin-bottom: 10px;
}
.pillar p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}
.vision {
    background-color: #F1F1F3;
    text-align: left;
}
.vision h2 {
    margin-bottom: 30px;
    color: hsl(0, 0%, 0%);
}
.vision-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.vision-card {
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: left;
    width: 410px;
}
.vision-card img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.vision-card h3 {
    margin-bottom: 10px;
    color: hsl(0, 0%, 0%);
}
.vision-card p {
    margin-bottom: 20px;
    color: hsl(0, 0%, 0%);
}
.vision-card button {
    padding: 10px 15px;
    background-color: #8bc34a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.vision-card #btn-dTrans{
    background-color: #5490F5;
}
.vision-card #btn-greEner{
    background-color: #09A15C;
}
.vision-card #btn-moInfra{
    background-color: #FFC239;
}
#dTrans{
    background-color: #5490F533;
}
#greEner{
    background-color: #c6e4d6;
}
#moInfra{
    background-color: #f7ebcf;
}
.quote {
    position: relative;
    padding: 50px;
    background-color: #ffffff;
    text-align: left;
    font-family: "Fira Sans", serif;
    color: #000;
    overflow: hidden;
    border-radius: 30px;
    margin: 50px 0;
}
.quote::before {
    content: "“";
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 200px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2); 
}

blockquote span {
    font-size: 3rem;
    color: #0E0E0E;
    text-align: left;
}
.quote-content {
    position: relative; 
     z-index: 1;
     font-size: 1.4rem;
}
blockquote {
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #0E0E0E;
}
.quote-author {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0E0E0E;
}
.opinion {
    padding: 50px;
    background-color: #f4f8fb;
    text-align: left;
    border-radius: 30px;
    margin: 50px 0;
}
.opinion h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}
.opinion-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}
.opinion-table thead th {
    background-color: #C6E4D6;
    color: 1px solid #000;
    padding: 15px;
    font-size: 1.2rem;
    border-color: #0E0E0E;
    border-top-color: #0E0E0E;
}
.opinion-table tbody td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    color: #0E0E0E;
    border: 1px solid #000;
    border-bottom-color: #000;
}
.opinion-table tbody tr:last-child td {
    border-bottom: none;
}
.opinion-table tbody td:last-child {
    text-align: right;
}
.opinion-btn {
    padding: 10px 20px;
    background-color: #C6E4D6;
    color: #0E0E0E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    position: left;
}
.opinion-btn:hover {
    background-color: #005f56;
}
.news {
    display: left;
    text-align: left;
}
.news h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #37474f;
}
.news-container {
    display: flex;
    gap: 20px;
    justify-content: left;
    flex-direction: column;
}
.news-container #news-card-second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    width: 100%;
}
.news-card {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    overflow: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.news-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
.news-card img {
    border-radius: 25px;
}
.news-container #news-card-second img {
    justify-content: right;
}
.news-content {
    padding: 20px;
    text-align: left;
}
.news-content h3 {
    font-size: 1.5rem;
    color: #00796b;
    margin-bottom: 10px;
}
.news-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}
.news-details {
    font-size: 0.9rem;
    color: #888;
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}
.news-btn {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease; text-transform: 0.3s ease;
}
.news-btn:hover {
    background-color: #005f56;
    transform: scale(1.05); 
}
.donate {
    padding: 50px;    
    text-align: center;
}
.donate h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #0E0E0E;
    font-size: 40px
}
.donate p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.donation-options{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.donation-card {
    height: 128px; 
    flex: 1 1 calc(250px + 15%);
    max-width: 320px;
    padding: 24px;
    color: #0E0E0E;
    font-size: 2.5rem;
    font-weight: 800;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: white; 
    box-sizing: border-box;
}
#btn-donation-card-200{
    background-color: #C6E4D6;
}
.donation-card:hover {
    background-color: #C6E4D6;    
}
.custom-donation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.custom-donation input {
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 1032px;
    height: 64px;
    margin-bottom: 15px;
    text-align: center;
}
.custom-donation .donate-btn {
    padding: 10px 20px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.custom-donation .donate-btn:hover {
    background-color: #1b5e20;
} 